<section class="ae-container-fluid rk-main">
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
        <div class="ae-masonry ae-masonry-md-2">
            <div class="rk-item ae-masonry__item">
                <a class="rk-item ae-masonry__item" role="button" tabIndex="0">
                <img src="/img/foto1.jpg" alt="">
                <div class="item-meta">
                    <h2>VIBRA</h2>
                    <p>40 x 60 cm</p>
                    <p>FOTOGRAFIA</p>
                    <p>2022</p>
                    <p>Serie 1/5</p>
                    <p>$ 15 000</p>
                </div>
                </a>
            </div>
            <div class="rk-item ae-masonry__item">
                <a class="rk-item ae-masonry__item" role="button" tabIndex="0">
                    <img src="/img/foto2.jpg" alt="">
                    <div class="item-meta">
                    <h2>ORO EN LA HIERBA</h2>
                        <p>40 x 60 cm</p>
                        <p>FOTOGRAFIA</p>
                        <p>2022</p>
                        <p>Serie 1/5</p>
                        <p>$ 9 000</p>
                    </div>
                </a>
            </div>
            <div class="rk-item ae-masonry__item">
                <img src="/img/foto3.jpg" alt="">
                <div class="item-meta">
                    <h2>HUMEDAL</h2>
                    <p>40 x 60 cm</p>
                    <p>FOTOGRAFIA</p>
                    <p>2019</p>
                    <p>Serie 1/5</p>
                    <p>$ 15 000</p>
                </div>
            </div>
            <div class="rk-item ae-masonry__item">
                <a class="rk-item ae-masonry__item" role="button" tabIndex="0">
                <img src="/img/foto4.jpg" alt="">
                <div class="item-meta">
                    <h2>YESQUERO BERMELLON</h2>
                    <p>40 x 60 cm</p>
                    <p>FOTOGRAFIA</p>
                    <p>2021</p>
                    <p>Serie 1/5</p>
                    <p>$ 15 000</p>
                </div>
                </a>
            </div>
            <div class="rk-item ae-masonry__item">
                <a class="rk-item ae-masonry__item" role="button" tabIndex="0">
                <img src="/img/foto5.jpg" alt="">
                <div class="item-meta">
                    <h2>PLANTAE</h2>
                    <p>40 x 70 cm</p>
                    <p>FOTOGRAFIA</p>
                    <p>2021</p>
                    <p>Serie 1/5</p>
                    <p>$ 18 000</p>
                </div></a>
            </div>
            <div class="rk-item ae-masonry__item">
                <a class="rk-item ae-masonry__item" role="button" tabIndex="0">
                <img src="/img/foto6.jpg" alt="">
                <div class="item-meta">
                    <h2>PENNITESUM</h2>
                    <p>40 x 50 cm</p>
                    <p>FOTOGRAFIA</p>
                    <p>2022</p>
                    <p>Serie 1/5</p>
                    <p>$ 9 000</p>
                </div></a>
            </div>
        </div>
    </section>
</section>