<!DOCTYPE html>
<html lang="en">
<head>    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>IRRADIACIÓN NATURAL</title>
    {{!-- <link rel="icon" type="image/svg+xml" href="/img/urku-ico.svg"> --}}
    <link rel="stylesheet" href="/css/aurora-pack.css">
    <link rel="stylesheet" href="/css/aurora-theme-base.css">
    <link rel="stylesheet" href="/css/urku.css">
</head>
<body class="top-fixed">
    {{> navbar}}
    {{{body}}}
    {{> footer}}
</body>
</html>